@{
    ViewBag.Title = "首頁";
}

<div class="jumbotron">
    <h1>選課系統</h1>
    <p class="lead">開始進行選課以前請先按照以下步驟逐步操作：</p>
    <p>步驟1 至「課程編輯」頁面進行課程內容確認，確認待選課程內容資料已備妥。</p>
    <p><a href="~/Home/CourseQuery" class="btn btn-primary btn-lg">進入「課程編輯」 &raquo;</a></p>
    <p>步驟2 至「學生編輯」頁面進行學生資料確認，確認選課學生已經建立資料於系統內。</p>
    <p><a href="~/Home/StudentQuery" class="btn btn-primary btn-lg">進入「學生編輯」 &raquo;</a></p>
    <p>步驟3 進行選課！</p>
    <p><a href="~/Home/SelectionQuery" class="btn btn-primary btn-lg">進入「選課」 &raquo;</a></p>
</div>

<div class="row">
</div>